/* src/App.css */
body {
  margin: 0;
  font-family: sans-serif;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  padding: 1rem;
}

header {
  padding: 1rem;
  background-color: #333;
  color: white;
}

header nav a {
  color: white;
  margin-right: 1rem;
  text-decoration: none;
}

header nav a:hover {
  text-decoration: underline;
}
